<header class="masthead">
    <div class="inner">
        <h3 class="masthead-brand">Couch DB Project</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a id='home' class="nav-link" href="/">Home</a>
            <a id='customers' class="nav-link" href="/customers">Customers</a>
        </nav>
    </div>
</header>