<%- include('../partials/header')-%>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../partials/navigation')-%>
            <br>
            <br>
            <br>
            <h1 class="heading">Pet Hotel</h1>
            <br>

            <br>
            <h2>Number of Cats: <%-[pets.value[0]] %></h2>
            <h2>Number of Dogs: <%-[pets.value[1]] %></h2>
            </p>
            <p class="lead">
                <h4>References</h4>
                <a href="https://medium.com/swlh/master-ejs-template-engine-with-node-js-and-expressjs-979cc22b69be" class="btn btn-secondary">EJS Medium Article</a>
            </p>

    </div>
</body>
<script>
    window.onload = function() {
        document.getElementById('home').classList.add('active');
      };
</script>
</html>